<div id="side" [class.example-is-mobile]="mobileQuery.matches" >
  <mat-toolbar id="barra-top" class="example-toolbar">
    <button id="boton-menu" mat-icon-button (click)="snav.toggle()"><mat-icon>menu</mat-icon></button>
    <h1 class="example-app-name">ByteApp</h1>
  </mat-toolbar>
  <mat-sidenav-container class="example-sidenav-container"
                         [style.marginTop.px]="mobileQuery.matches ? 56 : 0">
    <mat-sidenav id="siden" #snav [mode]="mobileQuery.matches ? 'over' : 'side'"
                 [fixedInViewport]="mobileQuery.matches" fixedTopGap="56">
      <mat-nav-list>
          <div>
            <h1>Vistas</h1>
            <hr>
              <button id="boton-p" (click)="show1 = !show1">
                Samuel Enriquez
              </button>
              <br>
              <mat-grid-list cols="1" rowHeight="25" *ngIf="show1">
                <mat-grid-tile>
                  <button id="boton-enlace" role="link" *ngIf="show1" onclick="window.location='http://localhost:4200/Formas-de-desembolso'">Formas de Desembolso</button>
                </mat-grid-tile>
                <mat-grid-tile>
                  <button id="boton-enlace" role="link" *ngIf="show1" onclick="window.location='http://localhost:4200/Motivo-de-reversa'">Motivo de Reversa</button>
                </mat-grid-tile>
                <mat-grid-tile>
                  <button id="boton-enlace" role="link" *ngIf="show1" onclick="window.location='http://localhost:4200/Motivos-referencias-clientes'">Motivos de Referencias de Clientes</button> 
                </mat-grid-tile>
                <mat-grid-tile>
                  <button id="boton-enlace" role="link" *ngIf="show1" onclick="window.location='http://localhost:4200/Relacion-transacciones-depositos'">Relación Transiciones de Depósitos</button>  
                </mat-grid-tile>
                <mat-grid-tile>
                  <button id="boton-enlace" role="link" *ngIf="show1" onclick="window.location='http://localhost:4200/Parametros-Adicional-por-Producto'">Parámetros Adicionales por Producto</button>
                </mat-grid-tile>
                <mat-grid-tile>
                  <button id="boton-enlace" role="link" *ngIf="show1" onclick="window.location='http://localhost:4200/Eventos-de-solicitudes'">Eventos de Solicitudes</button>
                </mat-grid-tile>
                <mat-grid-tile>
                  <button id="boton-enlace" role="link" *ngIf="show1" onclick="window.location='http://localhost:4200/Documentos-a-Presentar-por-Producto'">Documentos a Presentar por Producto</button>
                </mat-grid-tile>
                <mat-grid-tile>
                  <button id="boton-enlace" role="link" *ngIf="show1" onclick="window.location='http://localhost:4200/Montos-por-Plazo'">Montos por Plazo</button>
                </mat-grid-tile>
              </mat-grid-list>       
              <button id="boton-p" (click)="show2 = !show2">
                Mauricio Hurtado
              </button>
              <br>
              <mat-grid-list cols="1" rowHeight="25" *ngIf="show2">
                <mat-grid-tile>
                  <button id="boton-enlace" role="link" *ngIf="show2" onclick="window.location=''">Vista?</button>
                </mat-grid-tile>
                <mat-grid-tile>
                  <button id="boton-enlace" role="link" *ngIf="show2" onclick="window.location=''">Vista?</button>
                </mat-grid-tile>
                </mat-grid-list>
                <button id="boton-p" (click)="show3 = !show3">
                  David Muñoz
                </button>
                <br>
                <mat-grid-list cols="1" rowHeight="25" *ngIf="show3">
                  <mat-grid-tile>
                    <button id="boton-enlace" role="link" *ngIf="show3" onclick="window.location=''">Vista?</button>
                  </mat-grid-tile>
                  <mat-grid-tile>
                    <button id="boton-enlace" role="link" *ngIf="show3" onclick="window.location=''">Vista?</button>
                  </mat-grid-tile>
                  </mat-grid-list>
                  <button id="boton-p" (click)="show4 = !show4">
                  Alan Alvarez
                  </button>
                  <br>
                  <mat-grid-list cols="1" rowHeight="25" *ngIf="show4">
                    <mat-grid-tile>
                      <button id="boton-enlace" role="link" *ngIf="show4" routerLink="/MotivosDeAjustes" >Motivos de Ajustes</button>
                    </mat-grid-tile>
                    <mat-grid-tile>
                      <button id="boton-enlace" role="link" *ngIf="show4" routerLink="/diasInhabiles">Dias Inhabiles</button>
                    </mat-grid-tile>
                    </mat-grid-list>
              <hr>
          </div>
      </mat-nav-list>
    </mat-sidenav>
    <h1>
      <router-outlet></router-outlet>
    </h1>
  </mat-sidenav-container>
</div>
