.mat-form-field {
    font-size: 20px;
    width: 25%;
    margin-left: 225px;
    margin-bottom: -20px;
    margin-top: -100px;
  }

  #filtro{
    font-size: 20px;
    width: 267%;
    //width: 3660px;
    margin-left: 0px;
    margin-bottom: 0px;
  }
  
  .example-container {
    height: 300px;
    width: 800px;
    overflow: auto;
    align-items: center;
    align-content: center;
    margin-left: 280px;
  }
  
  table {  
    column-width: 5px;
    height: 100%;
    width: 1200px;
  }
  
  h1{
    text-align: center;
    font-style: unset;
  }
  
  
  button {
    background-color: yellow;
    text-align: center;
    align-content: center;
    align-items: center;
    align-self: center;
    margin-left: 10px;
    border-style: outset;
    border-bottom-color: lightyellow;
    border-right-color: lightyellow;
    border-bottom-left-radius: 25px;
    border-top-right-radius: 25px;
    
  }
  
  th {
    font-size: 20px;
    text-align: center;
    border-left: 50px;
  }
  
  #side {
    display: flex;
    flex-direction: column;
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background: goldenrod;
  }
  
  .example-is-mobile .example-toolbar {
    position: fixed;
    /* Make sure the toolbar will stay on top of the content as it scrolls past. */
    z-index: 2;
  }
  
  h1.example-app-name {
    margin-left: 8px;
    font-size: 35px;
  }
  
  .example-sidenav-container {
    /* When the sidenav is not fixed, stretch the sidenav container to fill the available space. This
       causes `<mat-sidenav-content>` to act as our scrolling element for desktop layouts. */
    flex: 1;
    background: lightyellow;
  }
  
  .example-is-mobile .example-sidenav-container {
    /* When the sidenav is fixed, don't constrain the height of the sidenav container. This allows the
       `<body>` to be our scrolling element for mobile layouts. */
    flex: 1 0 auto;
  }

  #boton-p{
    height: 35px;
    width: 250px;
    //backface-visibility: unset;
    background: gold;
    margin: 0px;
    vertical-align: top;
  }

  #boton-enlace{
    height: 25px;
    width: 250px;
    //backface-visibility: unset;
    background: yellow;
    margin: 0px;
    margin-left: 15px;
  }

  #siden{
    background: goldenrod;
  }

  //////
  #boton-menu{
    border-radius: 0px;
    display: flex;
    margin-left: -5px;
  }

  //////
  #boton-prueba {
    width: 200px;
    height: 200px;
  }

#prueba{
  height: 25px;
  width: 250px;
  margin: 0px; 
}

#barra-top{
  background: gold;
}

.mat-grid-tile {
  height: 300px;
  width: 300px;
  vertical-align: auto;
  text-align: center;
  align-content: center;
  align-items: center;
  align-self: center;
  
}

.mat-grid-list{
  height: 25px;
  width: 275px;
}