<h1>Parámetros Adicional por Producto</h1>
      <br>
      <form class="example-form">
          <mat-form-field class="example-full-width">
            <input matInput placeholder="Producto" value="">
          </mat-form-field>
        </form>
    <br>
    <div id="titulos">
    <h2>1) Eventos de solicitud</h2>
    <h2>2) Documentos a presentar x Producto</h2>
    <h2>3) Montos por Plazo</h2>
    <h2>4) Porcentajes de Financiamiento</h2>
    <h2>5) Rango de Plazos por Interés</h2>
  </div>
  <form id="opcion">
      <mat-form-field class="example-full-width">
        <input matInput placeholder="Opción" value="">
      </mat-form-field>
    </form>
    <br>
    <div class="botones" align="center">
    <button mat-raised-button>Editar</button>
    <button mat-raised-button>Eliminar</button>
    <button mat-raised-button>Visualizar</button>
    <button mat-raised-button>Registrar</button>
    <button mat-raised-button>Guardar</button>
    <button mat-raised-button>Next View</button>
    <button mat-icon-button>?</button>
    </div>