table {
  width: 100%;
  column-width: 25;
}
h1{
  margin-left: 35%
}
#mat-form-field{
  font-size: 20px;
  width: 30%;
  margin-left: 35%
}

.mat-checkbox{
margin-left: 35%
}

button{
color: greenyellow;
background-color: black;
margin: 5px;
}