<h1>
  Dias Inhabiles
</h1>


<div class = "ejemplo">
 

<br>
  <mat-form-field id="mat-form-field">
  <input matInput placeholder="Seleccionar en descripcion" value = " ">
</mat-form-field>


  <br>
  <mat-checkbox> </mat-checkbox>
  
  <mat-form-field>
  <input matInput placeholder=" " value = " ">
</mat-form-field>

<table mat-table [dataSource]="dataSource" class="mat-elevation-z8">

  <ng-container matColumnDef="posicion">
    <th mat-header-cell *matHeaderCellDef> posicion </th>
    <td mat-cell *matCellDef="let element"> {{element.posicion}} </td>
  </ng-container>

  <ng-container matColumnDef="numero">
    <th mat-header-cell *matHeaderCellDef> numero </th>
    <td mat-cell *matCellDef="let element"> {{element.numero}} </td>
  </ng-container>

  <ng-container matColumnDef="descripcion">
    <th mat-header-cell *matHeaderCellDef> descripcion </th>
    <td mat-cell *matCellDef="let element"> {{element.descripcion}} </td>
  </ng-container>
  <tr mat-header-row *matHeaderRowDef="displayedColumns"></tr>
  <tr mat-row *matRowDef="let row; columns: displayedColumns;"></tr>
</table>
<br>
<br>

<div class="botones" align="center">
    <button mat-raised-button (click)="openDialog()">Registrar</button>
<button mat-raised-button>Editar</button>
<button mat-raised-button>Eliminar</button>
<button mat-raised-button>Visualizar</button>
<button mat-raised-button>Guardar</button>
</div>
</div>